.timemark-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(134, 134, 134, 0.9);
  border-radius: 10px;
  width: 35px;
  height: 35px;
}

.youtube {
  top: -50px;
  left: 10px;
}
.twitch {
  top: -50px;
  left: 10px;
}
.unext {
  position: relative;
}

.timemark-btn:hover {
  background-color: rgba(100, 100, 100, 0.9);
}
.timemark-btn:active {
  background-color: rgba(63, 63, 63, 0.9);
}

.timemark-btn-icon {
  width: 30px;
  height: 30px;
}

.ytp-player-minimized .timemark-btn {
  display: none;
  z-index: 0;
}

/* sidebar */
.tm-sidebar {
  position: fixed;
  z-index: 5000;
  background-color: rgba(32, 33, 36, 1);
  width: 400px;
  height: 100vh;
  top: 0;
  right: -400px;
  opacity: 0;
  box-shadow: -1px 0 10px 5px rgba(32, 33, 36, 0.9);
}

.tm-sidebar iframe {
  position: relative;
  width: inherit;
  height: inherit;
  border: none;
}

.tm-sidebar-border {
  position: fixed;
  z-index: 5001;
  width: 10px;
  height: inherit;
  background-color: transparent;
  cursor: ew-resize;
}

.resize {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.up {
  z-index: 6000;
  cursor: ew-resize;
}
