@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap");

:root {
  --bg-color-dark: rgb(32, 33, 36);
  --font-color: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BIZ UDPGothic", sans-serif;
}

html {
  font-size: 62.5%;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  width: 400px;
}

header {
  height: 70px;
  top: 0;
}

.container-header {
  display: flex;
  align-items: center;
  width: 90%;
  height: inherit;
  margin: auto;
  border-bottom: 1px solid hsl(230, 6%, 40%);
}

.container {
  position: relative;
  width: inherit;
  height: calc(100vh - 70px);
  background-color: var(--bg-color-dark);
  color: var(--font-color);
  font-size: 1.4rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* width */
.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar:disabled {
  display: none;
}

/* Track */
/* .container::-webkit-scrollbar-track {
} */

/* Handle */
.container::-webkit-scrollbar-thumb {
  border: 3px solid rgb(32, 33, 36);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.container::-webkit-scrollbar-thumb:hover {
  border: 0px solid rgb(32, 33, 36);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.bookmarks-menu {
  font-size: 1.2rem;
  padding: 10px 20px;
  opacity: 0.8;
}

/* bookmark-container */
.bk-container {
  width: calc(100vw - 20px);
  height: auto;
  margin: 10px;
  border-radius: 10px;
}
.bk-container:is([open]) {
  background-color: hsl(230, 6%, 20%);
}
/* bookmark-title */
summary {
  list-style: none;
}

.bk-title {
  position: relative;
  display: grid;
  grid-template: auto 1fr / auto 1fr auto;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: default;
}
.bk-container:is([open]) .bk-title {
  border-bottom: 1px solid var(--bg-color-dark);
}
.bk-container:not([open]) .bk-title:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.bk-container:is([open]) .bk-title:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 0 0;
}

.channel-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  fill: white;
}

.channel-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}

.bk-video-title {
  grid-column: 1 / 4;
  line-height: 2rem;
  overflow-wrap: anywhere;
}
.bk-container:not([open]) .bk-video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 三角 */
.bk-title::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 0.85rem;
  border-color: transparent transparent transparent var(--font-color);
  top: 18px;
  left: 7px;
  opacity: 0;
  transform: rotate(0.25turn);
  transition: all 0.15s;
}
.bk-title:hover::after {
  opacity: 1;
}
.bk-container:not([open]) .bk-title::after {
  transform: rotate(0turn);
}
/* bookmark-title */

/* bookmark-time-list */
.bookmark {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px 20px;
  cursor: pointer;
}

.bookmark:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.bookmark:nth-last-child(1):hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 0 10px 10px;
}

.bookmark-desc {
  flex: auto;
  position: relative;
}

input[type="text"] {
  outline: none;
  border: none;
  appearance: none;
  background: none;
  border-radius: 3px;
  font-size: 1.4rem;
  color: inherit;
  display: block;
  cursor: pointer;
  width: 100%;
  padding-right: 10px;
}

input[type="text"]:is(:enabled, :focus) {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  cursor: text;
}

label {
  display: block;
  margin-top: 3px;
  font-size: 1rem;
}

input[type="text"]:enabled + label {
  position: absolute;
  margin: 0;
  bottom: -0.5rem;
  color: gray;
}

.bookmark-controls {
  flex-basis: fit-content;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}

.hidden {
  display: none;
}
/* bookmark-time-list */
/* bookmark-container */

button {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

/* icon */
button[class*="tm-icon-"] {
  fill: rgba(255, 255, 255, 0);
}
button[class*="tm-icon-"]:hover {
  fill: rgba(255, 255, 255, 0.1);
}
button[class*="tm-icon-"]:active {
  fill: rgba(255, 255, 255, 0.2);
}

.tm-icon-s {
  width: 2.5rem;
  height: 2.5rem;
}

.tm-icon-m {
  width: 4rem;
  height: 4rem;
}

symbol[id*="icon-"] path {
  fill: white;
}
